* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

.left {
    width: 20vw;
    height: 100vh;
}

.right {
    width: 80vw;
    height: 90vh;
    overflow-y: scroll;
}

.left-top {
    height: 18vh;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 5px;
}

.left-bottom {
    height: 82vh;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    position: relative;
}

.logo,
.home,
.search,
.library {
    display: flex;
    list-style: none;
    gap: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.search li a {
    color: rgb(167, 167, 167);
}

.search li a:hover {
    color: rgb(255, 255, 255);
}

.library {
    position: relative;
}

.left-top ul {
    padding: 4px;
}

.songs-library-list {
    height: 60vh;
    overflow: scroll;
}

.songs-library-list li {
    justify-content: space-between;
    border: 2px solid #242424;
    padding: 15px;
}

.songs-library-list li .song-info {
    overflow-x: hidden;
}

.songs-library-list li>img {
    height: 70px;
}

.songs-library-list li button {
    background-color: transparent;
    border: none;
}

.songs-library-list li button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.songs-library-list li button>img {
    height: 30px;
}

.left-bottom-footer a {
    color: rgb(167, 167, 167);
    text-decoration: none;
}

.left-bottom-footer {
    display: flex;
    gap: 12px;
    font-size: 11px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.right .header .nav-btn button {
    background-color: transparent;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.379);
    cursor: pointer;
    padding: 8px;

}

.header {
    width: 80vw;
    height: 60px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.373);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right .header .sign-btn button {
    background-color: transparent;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px 32px;
    height: 48px;
    width: 130px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(167, 167, 167);
    margin-right: 10px;
}

.right .header .sign-btn button:last-child {
    background-color: transparent;
    border-radius: 50px;
    background-color: white;
    padding: 8px;
    color: #242424;
    padding: 10px;
    width: 109.37px;
}

.right .header .sign-btn button:hover {
    transform: scale(1.075);
}

.cards-cont {
    margin: 80px 30px;
}

.cards-cont>h2 {
    font-size: 28px;
    margin: 22px 2px;
}

.cards-cont .cards-encloser {
    gap: 30px;
    flex-wrap: wrap;
}

.song-card {
    width: 200px;
    overflow: hidden;
    background-color: rgb(23, 23, 23);
    padding: 20px 15px;
    position: relative;
}

.song-card>* {
    margin-top: 10px;
}

.song-card:hover {
    background-color: rgb(27, 27, 27);
}

.song-card>img {
    width: 100%;
    object-fit: contain;
}

.song-card>button {
    opacity: 0;
    background-color: transparent;
    border: none;
    position: absolute;
}

.song-card:hover>button {
    animation: playbtn-animation 400ms linear 100ms infinite;
    opacity: 1;
}

@keyframes playbtn-animation {
    0% {
        top: 190px;
        right: 14px;
    }

    100% {
        top: 160px;
        right: 14px;
    }
}

.song-card .song-card-h1 {
    font-size: 19px;
}

.song-card .song-card-h2 {
    color: rgb(167, 167, 167);
}

.play-bar {
    height: 10vh;
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 80vw;
    border-radius: 20px;
}

.play-bar-cont {
    gap: 35px;
    position: relative;
    top: 10px;
}

.play-bar-cont>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.play-bar-cont img {
    height: 40px;
}